<?xml version="1.0"?>

<launch>

  <arg name="scene_pointcloud_file_path" default=".gazebo/models/MatterPort/01/matterport_01_1000000.ply"/>

  <node pkg="pointcloud_diff" name="PointCloudDiff" type="PointCloudDiff.py" output="screen">
    <rosparam param="/scene_pointcloud_file_path" subst_value="True">$(arg scene_pointcloud_file_path)</rosparam>
  </node>

</launch>

